.glyphicon{
  /*padding-right: 10px !important;*/
}

.col-sm-8.items{

  margin-bottom: 1px !important;
}

.rounded{
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
}

.navbar-inverse{
  background-color: #337ab7 !important;
  border:0px !important;

}

.container-fluid{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.navbar div.container-fluid{
  margin-left: 12px !important;
}

.navbar a{
  color: white !important;
}
