body{
    background-color:beige;
}
.experiment{
    background-color:#d3d3d3;
    padding:8px;
    border-radius:8px;
    margin:12px;
    max-width:420px;
}
.navigation{
    background-color:#BABABA;
    padding:8px;
    
    
}
.name{
    margin-left:12px;
    margin-top:12px;
    margin-bottom:0px;
    font-size: 2em;
        font-family:'Roboto',sans-serif;
 
}
.jumbotron{
    margin:4px;
}
.left{
    float:left;
    margin-left:-24px;
    margin-top:8px;
}
.right{
    float:right;
    margin:8px;
    margin-right:16px;
    text-align: right;
}
.left,#right p{
    font-size:1em;
    font-family:'Roboto',sans-serif;
}
.navbar {
  margin-bottom: 20px;
}

.profileTitle {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.sectionTitle {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
}

.profileItem {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left ! important;
  border: 1px solid transparent;
  border-radius: 1px;
  border-color: #eee;
}

.profileFooterIcon {
  text-align: center ! important;
}
